@tailwind base;
@tailwind components;

@tailwind utilities;

.slick-slide /*slick-slide(ka andhar) ka child div*/> div {
  margin: /*top-bottom*/ 0 10px /*left-right*/;
}

.slick-prev,
.slick-next/*targetting both button*/ {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 6px;
  padding-top: 7px;
  cursor: pointer;
}

body {
  background-color: azure;
}
